#main {
    display: -ms-grid;
    padding: 40px;
}

.items {
    -ms-grid-column: 1fr;
}

.items h2 {
    margin-bottom: 20px;
}

.items .item {
    overflow: hidden;
    margin-bottom: 20px;
    width: 200px;
    height: 150px;
}